h1 {
   font-size: 3.5rem;
   margin: auto;
   margin-bottom: 3rem;
   width: auto;
}

.flex {
   margin: auto;
   width: 80%;
   display: flex;
   justify-content: space-around;
}

.toggle-buttons {
   background-color: darkgray;
   width: 12%;
   /* color: gray; */
   height: 30px;
   padding-top: 3px;
   padding-bottom: 3px;
   border-radius: 5px;
}